.luxury-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    position: fixed; /* Position the title fixed to the bottom */
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0; /* Add padding for spacing */
    background-color: #fff; /* Add background color if needed */
    border-top: 1px solid #ccc; /* Add a border at the top */
}
body {
    background-color: #ffffff;
}