<div class="home-container" *ngIf="!isAuthenticated">
    <!-- Welcome section -->
    <section class="welcome-section">
      <div class="welcome-content">
        <img src="../../assets/images/Slovickoss-logo4-transparent.png" alt="Slovickoss" width="210px" height="200px">
        <div class="button-get-started">
          <button mat-flat-button class="get-started-btn" (click)="nvgAuth()">Get Started</button>
        </div>
      </div>
    </section>
  
    <!-- Features section -->
    <section class="features-section">
      <div class="feature">
        <h2>Create your own word sets</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur in at odio fugiat, vel numquam aut ad similique quidem co</p>
      </div>
      <div class="feature">
        <h2>Practice</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur in at odio fugiat, vel numquam aut ad similique quidem co</p>
      </div>
    </section>
  
    <!-- Call to action section -->
    <section class="cta-section">
      <h2>Ready to get started?</h2>
      <button mat-flat-button class="get-started-btn" (click)="nvgAuth()">Sign Up Now</button>
    </section>
  </div>
  
  <div *ngIf="isAuthenticated" class="container">
    <div class="content">
      <h1 class="suggested-sets-heading">Suggested Sets</h1>
      <ul class="set-list">
        <li *ngFor="let oldSet of oldSets" class="set-item">
          <div class="set-button" (click)="nvgWordSetDetail(oldSet.id)">
            <h1>{{ oldSet.name }}</h1>
            <div class="set-details">
                <p>{{ username }}</p>
                <p>{{ oldSet.created }}</p>
              </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="content">
      <h1 class="suggested-sets-heading">Last Viewed</h1>
      <ul class="set-list">
        <li *ngFor="let youngSet of youngSets" class="set-item">
          <div class="set-button" (click)="nvgWordSetDetail(youngSet.id)">
            <h1>{{ youngSet.name }}</h1>
            <div class="set-details">
                <p>{{ username }}</p>
                <p>{{ youngSet.created }}</p>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  