.set-list {
  list-style-type: none;
  padding: 0;
}
  
.set-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
.set-item h1 {
  font-size: 25px;
}
.set-button {
  background-color: #000e1f; /* Darker blue color */
  color: #fff; /* White text color */
  padding: 10px; /* Padding to adjust size */
  border: none; /* Remove border */
  width: 100%; /* Make the button width same as the list item */
  text-align: left; /* Align text to the left */
  border-radius: 5px;
  position: relative;
}

.set-button:hover {
  background-color: #1f3140; /* Darker blue color on hover */
}

.container {
  display: flex;
  flex-direction: column;
  position: relative; /* Ensure relative positioning for absolute children */
}

.example-button-container {
  position: fixed;
  top: 600px;
  right: 30px;
  z-index: 999; /* Ensures it stays on top of other content */
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 60px; /* Adjust as needed to prevent content from being covered by the button */
}

.set-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #cccacaef;
}

.custom-delete-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease; /* Hover effect */
}

.custom-delete-button .mat-icon {
  color: #ff0000; /* Change to your desired icon color */
}

.delete-button-container {
  display: flex;
  align-items: center;
}

.custom-delete-button:hover {
  transform: scale(1.7); /* Scale up on hover */
}

.new-set-button {
  background-color: #d19557; /* Change to your desired color */
  color: #000e1f; /* Text color */
  transition: transform 0.3s ease;
}

.new-set-button:hover {
  transform: scale(1.3); /* Change to your desired hover color */
}