.set-list {
  list-style-type: none;
  padding: 0;
}
  
.set-item {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.set-item h1 {
  font-size: 25px;
}
.set-button {
  background-color: #0E0066; /* Darker blue color */
  color: #fff; /* White text color */
  padding: 10px; /* Padding to adjust size */
  border: none; /* Remove border */
  width: 100%; /* Make the button width same as the list item */
  text-align: left; /* Align text to the left */
  border-radius: 5px;
}

.set-button:hover {
  background-color: #2F0066; /* Darker blue color on hover */
}

.container {
  display: flex;
  flex-direction: column;
}

.example-button-container {
  position: fixed;
  top: 600px;
  right: 30px;
  z-index: 999; /* Ensures it stays on top of other content */
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 60px; /* Adjust as needed to prevent content from being covered by the button */
}

.set-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #cccacaef;
}