<div class="container">
  <div class="example-button-container">
    <button mat-fab color="accent" (click)="newSet()">
      <mat-icon>library_add</mat-icon>
    </button>
  </div>
  <div class="content">
    <ul class="set-list">
      <li *ngFor="let set of sets" class="set-item">
        <div class="set-button" (click)="nvgWordSetDetail(set.id)">
          <h1>{{ set.name }}</h1>
          <div class="set-details">
          <p>{{ username }}</p>
          <p>{{ set.created }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>