.container {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  font-size: 1.5rem;
  background-color: #000e1f;
  border: 2px solid #e9c561;
  box-shadow: 0 0 2px #e9c561, 0 0 2px #e9c561, 0 0 2px #d19557, 0 0 2px #d19557;
  
  width: 100%;
  margin-top: 20px; 
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%; 
  
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin: 0 auto;
  margin-bottom: 20px;
}

.base-input {
  width: 100%; /* Take up full width */
}

.translation-input {
  width: 100%; /* Take up full width */
  order: 1; /* Move translation input to the end of the row */
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 48%; /* Adjusted width to create space between inputs */
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b; /* $gray */
  outline: 0;
  font-size: 1.3rem;
  color: #fff; /* $white */
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1rem; /* Adjusted font-size for animation */
    cursor: text;
    top: 20px;
    color: #9b9b9b; /* $gray */
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.3rem; /* Adjusted font-size for initial state */
  color: #9b9b9b; /* $gray */
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #e9c561; /* $primary */
    font-weight: 700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #e9c561, #d19557); /* $primary, $secondary */
  border-image-slice: 1;
}

.button-container {
  width: 100%; /* Set width to 100% */
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Adjust margin top for spacing */
  position: relative; /* Set position to relative */
  top: -20px; /* Move the button upwards by 20px */
}


.button {
  padding: 10px 20px; /* Decreased padding to make the button smaller */
  color: #e9c561; /* Set text color */
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s all ease-in;
  letter-spacing: 2px; /* Reduced letter spacing */
  overflow: hidden;
  border: 2px solid #e9c561; /* Set border */
  background: transparent;
  width: 200px;
}

.button:hover {
  background: linear-gradient(to right, #d19557, #e9c561); /* Change background color on hover */
  color: #050801;
  box-shadow: 0 0 20px #e9c561, 0 0 20px #e9c561, 0 0 20px #d19557, 0 0 20px #d19557;
}

