.profile-container {
    background-color: #015784;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-details {
    margin-top: 20px;
}

.detail-label {
    font-weight: bold;
}

.not-logged-in {
    text-align: center;
    padding: 40px;
    background-color: #015784;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.not-logged-in h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.not-logged-in p {
    font-size: 18px;
}
