.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.flashcard {
    width: 300px; 
    height: 500px; 
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.flashcard div {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 500px; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid grey;
    border-radius: 20px;
    
}

.front {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: lightgray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.button-container button:disabled {
    background-color: #ddd; 
    color: #888; 
    cursor: not-allowed;
  }

.button-container button:hover {
    background-color: #0056b3;
}

.btn-continue-restart {
    font-size: 30px;
    background-color: #d19557;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    margin-right: 20px; 
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }