<div class="container-wide">
    <div class="content">
        <div class="button">
            <button class="set-button" (click)="nvgLearning()">
                <h1>Learn set</h1>
            </button>
        </div>
        <ul class="set-list">
            <li>
                <div>
                    <button mat-flat-button class="add-word-button" (click)="addWord()" *ngIf="buttonVisible">Add Word</button>
                    <div #wordContainer></div>
                </div>
            </li>
            <li *ngFor="let word of words" class="set-item">
                <div class="delete-word">
                    <div class="word">
                        <div class="word-base">{{ word.base }}</div>
                        <div class="word-translation">{{ word.translation }}</div>
                    </div>
                    <button class="update-button" (click)="updateWord()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab class="delete-button" (click)="deleteWord(word.id)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>
